:root {
    --nav-color: #6cd9b7;
    --nav-color-highlight: #3c6cbb;
}

body a:hover {
    color: var(--nav-color);
}

#example__jumbotron {
    background: url(./assets/example.jpg) no-repeat center center;
    background-position: center 51%;
    color: white;
    height: 350px;
    border-radius: 0px 0px 5px 5px;
}
#carbonCapture__jumbotron {
    background: url(./assets/carbonCaptureBannerImg.jpg) no-repeat center center;
    background-position: center 59%;
    background-size: cover;
    color: white;
    height: 400px;
    border-radius: 0px 0px 5px 5px;
}
#mechanism__jumbotron {
    background: url(./assets/mechanism/mechanismBannerImg.jpg) no-repeat center
        center;
    background-position: center 59%;
    background-size: cover;
    color: white;
    height: 400px;
    border-radius: 0px 0px 5px 5px;
}
#carbonOffset__jumbotron {
    background: url(./assets/carbonOffsetBannerImg.jpg) no-repeat center center;
    background-position: center 60%;
    background-size: cover;
    color: white;
    height: 400px;
    border-radius: 0px 0px 5px 5px;
}
#climateActivism__jumbotron {
    background-image: url(./assets/climateActivism/lessIsMore.jpg);
    background-position: center 50%;
    background-size: cover;
    color: white;
    height: 400px;
    border-radius: 0px 0px 5px 5px;
}
#climateModeling__jumbotron {
    background: url(./assets/example.jpg) no-repeat center center;
    background-position: center 51%;
    color: white;
    height: 400px;
    border-radius: 0px 0px 5px 5px;
}
#personalImpact__jumbotron {
    background: url(./assets/personalBannerImg.jpg) no-repeat center center;
    background-position: center 59%;
    background-size: cover;
    color: white;
    height: 400px;
    border-radius: 0px 0px 5px 5px;
}
#home__jumbotron {
    background-image: url(./assets/homeBanner.jpg);
    background-position: center 31%;
    /* background-size: cover; */
    color: white;
    height: 400px;
    border-radius: 0px 0px 5px 5px;
}
#content {
    max-width: 800px !important;
}
#durham-badge {
    width: 148px;
    height: 61px;
}
.anchor {
    display: block;
    height: 60px;
    margin-top: -60px;
    visibility: hidden;
}
/* .card__img {
    height: 231.6px;
} */
.arrow--active {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.home__nav {
    background-color: var(--nav-color);
    box-shadow: 0 0 0.5em 0.2em rgba(0, 0, 0, 0.25);
    transition: all 0.5s ease;
}
.home__nav__shadow {
    text-shadow: 0 0 0.5rem rgba(35, 47, 74, 0.6);
    color: white !important;
}
.home__nav--top {
    background-color: transparent;
    box-shadow: none;
    transition: all 0.5s ease;
}
.home__nav--open {
    background-color: var(--nav-color) !important;
    box-shadow: 0 0 0.5em 0.2em rgba(0, 0, 0, 0.25);
    transition: all 0.5s ease;
}

.jumbotron__title {
    text-shadow: 0 0 0.5rem rgba(35, 47, 74, 0.6);
}
.remove-a-styling {
    text-decoration: none;
    color: inherit;
}
.remove-a-styling:hover {
    text-decoration: none;
    color: inherit;
}
.home__card {
    max-width: 350px;
    height: 300px;
}
/* -------------Info drops------------- */
.info-drop__button {
    /* background-color: var(--nav-color) !important; */
    color: white !important;
    /* box-shadow: 0 0 0.5em 0.2em rgba(0, 0, 0, 0.25); */
    transition: background 0.5s ease;
}
.info-drop__button--active {
    background-color: var(--nav-color) !important;
    transition: background 0.5s ease;
}
.info-drop__button:hover {
    background-color: var(--nav-color) !important;
    transition: background 0.5s ease;
}
/* ----------climate activism---------- */
.chart {
    width: 350px !important;
    height: 350px;
}
/* -----------carbon capture----------- */

#captureAccordion .collapsed .arrow {
    transform: none;
    -webkit-transform: none;
}
.arrow {
    transition: all 0.3s ease;
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
}
/* ----------personal impacts---------- */
#accordionMethane .collapsed .accordion__text {
    color: inherit !important;
}
#accordionMethane .collapsed .arrow {
    transform: none;
    -webkit-transform: none;
}
/* ------climate change mechanism------ */
#accordionSTWA .collapsed .arrow {
    transform: none;
    -webkit-transform: none;
}
#accordionIA .collapsed .arrow {
    transform: none;
    -webkit-transform: none;
}
/* -----------footer styles----------- */
footer ul {
    list-style-type: none;
}
