#example__jumbotron {
    background: url(./assets/example.jpg) no-repeat center center;
    color: white;
}
#home__nav {
    background-image: url(./assets/homeBanner.jpg);
    background-position: center 20%;
}
#home__jumbotron {
    background-image: url(./assets/homeBanner.jpg);
    background-position: center 31%;
    color: white;
    height: 400px;
    border-radius: 0px 0px 5px 5px;
}
.remove-a-styling {
    text-decoration: none;
    color: inherit;
}
.remove-a-styling:hover {
    text-decoration: none;
    color: inherit;
}
.home__card {
    max-width: 350px;
    height: 300px;
}
